<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список групп</title>
</head>
<body>
    <h1>Группы:</h1>
    <p>
        {% for group in groups %}
            <h3>{{ group.course }}
            <td><a href="groups/edit/{{group.id}}">Изменить</a> | <a href="groups/delete/{{group.id}}">Удалить</a></td>
            </h3>
        {% endfor %}
    </p>
    <a href="{% url 'create_groups' %}"><button class="btn btn-success" type="submit">Добавить группу</button></a>
</body>
</html>