<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
</head>
<body>
    <h1>Lecturers:</h1>
        {% for lecturer in lecturers %}
            <h3>{{ lecturer.last_name }}</h3>
        {% endfor %}
<form method="post">
        {% csrf_token %}
        Имя:{{ form.first_name }}<br>
        Фамилия:{{ form.last_name }}<br>
        Email:{{ form.email }}<br>
        <button calss="btn btn-success" type="submit">Добавить лектора</button>
    </form>
</body>
</html>